@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.foot {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

a{
  color: #1E375A;
  /* text-decoration: none; */
}